.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    transition: 0.5s;
    background-image: url("../assets/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin-right: 1.2em;
}

.container__rotulo{
    padding: 0.5em 1em;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer {
    transition: 0.5s;
    background-image: url("../assets/Menu_aberto.svg");
}

.container__botao:checked ~ .container__rotulo {
    background: var(--azul--gradiente);
}


.container {
    display: flex;
    align-items: center;
}


.container__botao,
.container__texto,
.container__titulo,
.opcoes {
    display: none;
}

.container__imagem {    
    width: 40%;
    padding: 1em;
}

.container__link:hover{
    opacity: 0.8;
}

.favorito {
    display: block;
}

.logo{
    margin-left: 1em;
    width: 30%
}


.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    background-color: var(--branco);
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

.lista-menu__item,
.lista-menu__titulo {
    padding: 1em 1em 1em 1.5em;
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__item {
    background: var(--azul--gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__botao:checked~.lista-menu {
    display: block;
}

@media screen and (min-width: 1024px) {

    .cabecalho{
        padding: 0.5em 2em;
    }

    .container__titulo,
    .container__titulo--negrito {
        padding-top: 5%;
        font-family: var(--fonte--cabecalho);
        font-size: 30px;
    }

    .container__titulo {
        display: block;
        font-weight: 400;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 1em 1em;
        color: #000;
        font-weight: 500;
    }

    .opcoes__link {
        text-decoration: none;
        color: #000;
        font-weight: 500;
    }

    .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item{
        transition: 0.1s;
        background: var(--azul--gradiente);
        color: var(--branco);
    }
    
    .favorito,
    .container__rotulo,
    .cabecalho__menu-hamburguer,
    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked~.lista-menu {
        display: block;
        width: auto;
    }

    .lista-menu{
        top: 70%;
    }

    .lista-menu__item:hover {
        background: var(--azul--gradiente);
        /* Mantém o gradiente personalizado */
        -webkit-background-clip: initial;
        /* Reverte a propriedade para o valor padrão */
        -webkit-text-fill-color: initial;
        /* Reverte a propriedade para o valor padrão */
        background-clip: initial;
        /* Reverte a propriedade para o valor padrão */
    }

    .lista-menu__link{
        color: white;
        text-decoration: none;
    }

    .container__imagem{
        margin: 0 1em;
        width: 30%;
    }
}

@media screen and (min-width: 1728px) {

    .container__imagem{
        width: 15%;
        margin: 0;
    }

    .perfil{
        width: 20%;
    }

    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .container__texto{
        display: block;
        width: 100%;
        font-size: 18px;
    }

    .container__titulo{
        margin-right: 1em;
    }

    .opcoes{
        margin-right: auto;
    }
}